<%- include('./partials/header.ejs') -%>

<body id="homeBody">
      <!--Main content of home page-->
      <main>
          <h1 id="welcomeMessage"> 
                Welcome To Survey Site
          </h1>
          <input type="button" onclick="location.href='/survey/list';" value="Survey List" />
      </main>
  </body>
  
  </html>    