

<body id="homeBody">
      <!--Main content of home page-->
      <main>
          <h1 id="welcomeMessage"> Welcome To My Page</h1>
          <div class="box">
              <img src="/Images/myImage.jpg" alt="My Picture" class="box-img">
              <h1 id="myName">I am Ankit Patil</h1>
              <p id="biographyText">My mission statement is <br> 
                  <h4>“To create the best version of tomorrow”</h4><br>
                  Want to know more about me? </p>
              <a href="/about" class="btn btn-dark btn-lg">Click Here!</a>    
          </div>
      </main>
  </body>
  
  </html>    